div#user-page
  ul.breadcrumb
    li
      == link_to 'Users', users_path
    li
      == link_to @user.username, user_path(@user)
    li.current
      | Edit

  div#form
    == form_for @user do |f|
      p
        == f.label :deduction
        == f.text_field :deduction

      p
        == f.label :is_disabled
        == f.check_box :is_disabled
      p
        == f.label :starting_balance
        == f.text_field :starting_balance

      == f.submit
