dl
  dt Total balance
  dd = @total_balance

div#actions
  ul
    li
      == link_to 'Users', users_path
    li
      == link_to 'All', users_path(all: true)
    li
      == link_to 'New user', new_user_path

hr

table#users
  - for user in @users
    tr
      td = link_to user.username, user
      td = user.balance
      td = user.status
