div#user-page
  ul.breadcrumb
    li
      == link_to 'Users', users_path
    li.current
      | New user

  == form_for @user do |f|
    p
      == f.label :username
      == f.text_field :username
    p
      == f.label :deduction
      == f.text_field :deduction
    p
      == f.label :is_disabled
      == f.check_box :is_disabled
    p
      == f.label :starting_balance
      == f.text_field :starting_balance

    == f.submit
