div#user-page
  ul.breadcrumb
    li
      == link_to 'Users', users_path
    li.current
      = user.username

  div#actions
    == link_to 'Edit', edit_user_path(user)

  dl
    dt Balance
    dd = user.balance
    dt Status
    dd = user.status
    dt Deduction
    dd = user.deduction

  div#payment-form
    == form_for [user, payment] do |f|
      p == f.text_field :amount
      == f.submit

  h4 Payments

  - if payments.any?
    table#payments
      == render collection: payments, partial: "payment"
  - else
    | No payments
